/*Custom CSS*/
.navbar-nav {
    text-align: right;
}
.menu-bar .navbar-toggler {
    padding-right: 0;
    outline: none;
    border: none;
}
#aboutUs p {
    text-align: justify;
}
a{
    text-decoration: none!important;
}
#backCatalogueAudios audio {
    width: 100%;
    background-color: rgb(60, 60, 60);
}
.social a {
    font-size: 2em;
}
.social .fa-facebook {
    color: rgb(59,89,152);
}
.social .fa-twitter {
    color: rgb(0,172,237);
}
.social .fa-google-plus {
    color: rgb(221,75,57);
}
.social .fa-instagram {
    color: rgb(138,58,185);
}
.social .fa-youtube {
    color: rgb(187,0,0);
}

@media only screen and (min-width: 576px) {
    .custom-display-bar {
      display: none;
    }
  }

